.navbar-component{
    width: 100vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: linear-gradient(-181deg, rgb(2, 0, 97) 15%, rgb(97, 149, 219) 158.5%); */
    /* background-color: rgb(4, 0, 128); */
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 80%;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color:whitesmoke;
}

.nav-login {
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
}

.nav-logo h1{
    font-size: 1.5vw;
    color: whitesmoke;
}
.navbar-component ul{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-component li{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.25vw;
    list-style-type: none;
}

.navbar-component li:hover{
    /* background: -webkit-linear-gradient(.40turn,#fa6d6d,#fcb045); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    cursor: pointer;
    font-weight: 500;
}
.navbar-component .nav-login:hover{
    /* background: -webkit-linear-gradient(.40turn,#fa6d6d,#fcb045); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    cursor: pointer;
    font-weight: 500;
}
.nav-login{
    font-size: 1.4vw;
    color: whitesmoke;
    font-weight: normal;
    /* background-color: orange; */
}
.nav-login a{
    list-style-type: none;
    text-decoration: none;
    color: whitesmoke;
}